<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wonder.wqlm_ct">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:versionCode="2"
        android:versionName="1.1"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:process=":wonder.wqlm_ct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".WQAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:priority = "1000"
            android:process=":wonder.wqlm_ct"
            android:label="@string/service_lable1"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"

                android:resource="@xml/accessibilityservice" />
        </service>

        <service android:name=".WQNotificationService"
            android:enabled="true"
            android:exported="true"
            android:priority = "1000"
            android:process=":wonder.wqlm_ct"
            android:label="@string/service_lable2"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".WQService"
            android:enabled="true"
            android:exported="false"
            android:priority = "1000">
            <intent-filter>
                <action android:name="wonder.wqlm_ct.GuardService" />
            </intent-filter>
        </service>

    </application>

</manifest>